*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nivel Agua */
#conteudo_principal{
    
    height: 100vh;
    
    background-color: black;
    
    
    display: none;

    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    gap: 10px;

}

div{
    
    
    background-color: aqua;
    padding: 10px;
    

}

/* Nivel Danoninho */

#conteudo2{
    display: none;
}

#cabecalho{
    height: 100px;
    
    
    background-color: rgb(30, 59, 226);
}

#blocos{
    
    background-color: rgb(209, 17, 17);
    
    height: 600px;
    
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    
    padding: 10px;
    
    gap: 10px;
    
    align-items: center;
}

.bloco1{
    
    background-color: blue;
    
    height: 500px;
}

/* Nivel Suco */ 

#conteudo3{
    height: 100vh;
    background-color: black;
}

#cabecalhosuco{
    background: blue;
    height: 200px;
    padding: 10px;
    
    display: grid;

    place-items: end center;

    grid-template-columns: 1fr 1fr;

}

#itens_menu{
    
    height: 100px;
    width: 200px;

    background-color: aqua;

   
}

#menu_informacoes{
    
    list-style: none; 

    display: flex;

    gap: 10px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;

}





#logo{
    background-color: aqua;
    
    height: 100px;
    width: 300px;
    margin: 10px;

}



@media (max-width: 800px){
    
    /* Nivel Agua */
    #conteudo_principal{
        
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 10px;

    }

    /* Nivel Danoninho */
    #cabecalho{
        grid-template-columns: 1fr;
        
    }

    #blocos{
        grid-template-columns: 1fr;

    }

    .bloco1{
        grid-template-columns: 1fr;

        height: 250px;
    }

    /* Nivel Suco */
}



