* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nivel Agua */
#conteudo_principal {

    height: 100vh;

    background-color: black;


    display: none;

    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    gap: 10px;

}

.nivel_agua {


    background-color: aqua;
    padding: 10px;


}

/* Nivel Danoninho */

#conteudo2 {
    display: none;
}

#cabecalho {
    height: 100px;


    background-color: rgb(30, 59, 226);
}

#blocos {

    background-color: rgb(209, 17, 17);

    height: 600px;

    display: grid;

    grid-template-columns: 1fr 1fr;

    padding: 10px;

    gap: 10px;

    align-items: center;
}

.bloco1 {

    background-color: blue;

    height: 500px;
}

/* Nivel Suco */

#conteudo3 {
    height: 100vh;
    background-color: rgb(255, 252, 252);
}

#cabecalhosuco {
    background: blue;

    padding: 10px;

    display: grid;

    gap: 0px 10px;

    place-items: end end;

    grid-template-columns: 1fr 4fr;

}

#itens_menu {

    height: 100px;
    width: 100%;

    padding: 10px;

    gap: 10px; 
    
}

#menu_informacoes ul {

    list-style: none;



    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end; 

   

}

#menu_informacoes li {


    height: 80px;
    
    font-size: 40px;

    gap: 10px;

    padding: 10px;

    background-color: rgb(29, 212, 245);

}

#logo {
   
    background-color: aqua;

    
    
    height: 100px;
    width: 300px;
    
    
    

}

#nivel_suco {
    background-color: aqua;
    height: 800px;

    display: grid;

    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.Suco {
    background-color: blue;
    height: 700px;
}



@media (max-width: 800px) {

    /* Nivel Agua */
    #conteudo_principal {

        grid-template-columns: 1fr;
        padding: 10px;
        gap: 10px;

    }

    /* Nivel Danoninho */
    #cabecalho {
        grid-template-columns: 1fr;

    }

    #blocos {
        grid-template-columns: 1fr;

    }

    .bloco1 {
        grid-template-columns: 1fr;

        height: 250px;
    }

    /* Nivel Suco */



    #itens_menu {
        display: none;
    }

    #moble {
        background-color: rgb(0, 225, 255);
        height: 100px;
        width: 200px;
    }

    #nivel_suco {
        display: grid;

        grid-template-columns: 1fr;

    }

    .Suco {

        height: 350px;

    }


}